{
  "env": {
    "node": {
      "presets": [
        [
          "env",
          {
            "targets": { "node": 8 },
            "modules": false,
            "useBuiltIns": true
          }
        ]
      ],
      "plugins": ["lodash", "transform-class-properties", "transform-object-rest-spread"]
    },
    "browser": {
      "presets": [
        [
          "env",
          {
            "targets": { "browsers": [">0.5%"] },
            "modules": false,
            "useBuiltIns": true
          }
        ]
      ],
      "plugins": ["lodash", "transform-class-properties", "transform-object-rest-spread"]
    }
  }
}
