{
  "env": {
    "node": {
      "presets": [["env", { "targets": { "node": 4 } }]],
      "plugins": [
        "lodash",
        "transform-class-properties",
        "transform-object-rest-spread",
        ["transform-async-to-module-method", { "module": "bluebird", "method": "coroutine" }]
      ]
    },
    "browser": {
      "presets": [["env", { "targets": { "browsers": [">0.5%"] } }]],
      "plugins": [
        "lodash",
        "transform-class-properties",
        "transform-object-rest-spread",
        ["transform-async-to-module-method", { "module": "bluebird", "method": "coroutine" }]
      ]
    }
  }
}
