{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": ["html"],
  "rules": {
    "no-console": 0,
    "no-extra-semi": 0,
    "no-unused-vars": 0
  },
  "globals": {
    "KerasJS": true,
    "chai": true,
    "testGlobals": true,
    "TEST_DATA": true,
    "weblas": true,
    "performance": true
  },
  "extends": "eslint:recommended"
}
