$color-1: #1BBC9B;
$color-1-light: rgba(27, 188, 155, 0.6);
$color-1-lighter: rgba(27, 188, 155, 0.3);
$color-2: #69707a;
$color-3: #393E46;

$font-1: 'Fira Sans', sans-serif;
$font-2: 'Inconsolata', sans-serif;
$font-3: 'Nothing You Could Do', cursive;
