<div class="demo imdb-bidirectional-lstm">
  <div class="title">
    <span>Bidirectional LSTM for IMDB sentiment classification</span>
    <mdl-spinner v-if="modelLoading && loadingProgress < 100"></mdl-spinner>
  </div>
  <div class="loading-progress" v-if="modelLoading && loadingProgress < 100">
    Loading...{{ loadingProgress }}%
  </div>
  <div class="info-panel">
    <div class="info-panel-text">

    </div>
    <div class="info-panel-close">
      <div class="info-panel-close-btn"><i class="material-icons">close</i>CLOSE</div>
    </div>
  </div>
  <div class="columns input-output" v-if="!modelLoading">
    <div class="column input-column">
      <div class="input-container">
        <mdl-textfield
          floating-label="input text"
          :value.sync="inputText"
          spellcheck="false"
          textarea
          rows="10"
          @change="inputChanged"
          @keyup="inputChanged"
          @paste="inputChanged"
        ></mdl-textfield>
        <div class="input-buttons">
          <div class="input-load-button" v-on:click="randomSample"><i class="material-icons">add_circle</i>LOAD SAMPLE TEXT</div>
          <div class="input-clear-button" v-on:click="clear"><i class="material-icons">clear</i>CLEAR</div>
        </div>
      </div>
    </div>
    <div class="column output-column">
      <div class="output">
        <div class="output-heading">Result:</div>
        <div class="output-value" style="color: {{ outputColor }};">{{ Math.round(output[0] * 100) }}%</div>
        <div class="output-heading" v-if="isSampleText">Actual label for sample text: <span class="output-label" v-bind:class="sampleTextLabel">{{ sampleTextLabel }}</span></div>
      </div>
    </div>
  </div>
  <div class="architecture-container" v-if="!modelLoading">
    <div class="bg-line"></div>
    <div
      v-for="layer in architectureDiagramLayers"
      class="layer"
      :id="layer.name"
    >
      <div class="layer-class-name">{{ layer.className }}</div>
      <div class="layer-details"> {{ layer.details }}</div>
    </div>
  </div>
  <div class="lstm-visualization-container" v-if="!modelLoading && !modelRunning && inputTextParsed.length">
    <div
      v-for="word in inputTextParsed"
      class="lstm-visualization-word"
      style="background: {{ stepwiseOutputColor[$index] }};"
    >{{ word }}</div>
  </div>
</div>
