@import './_variables.css';

.demo.imdb-bidirectional-lstm {
  .column {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .column.input-column {
    justify-content: center;

    .input-container {
      text-align: right;
      margin: 5px 5px 5px 20px;
      position: relative;

      .input-label {
        font-family: $font-3;
        font-size: 18px;
        color: $color-2;
        text-align: left;
      }

      .mdl-textfield {
        width: 550px;

        textarea {
          color: $color-3;
          font-family: $font-1;
          font-size: 16px;
          padding: 10px;
        }
      }

      .input-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input-load-button,
        .input-clear-button {
          display: flex;
          align-items: center;
          color: $color-2;
          transition: color 0.2s ease-in;

          .material-icons {
            margin-right: 5px;
          }

          &:hover {
            color: $color-1-lighter;
            cursor: pointer;
          }
        }

        .input-load-button {
          &:hover { color: $color-1; }
        }
      }
    }
  }

  .column.output-column {
    justify-content: center;

    .output {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      user-select: none;
      cursor: default;

      .output-heading {
        max-width: 200px;
        color: $color-2;
        font-family: $font-2;
        font-size: 16px;
        margin: 10px;

        span.output-label.positive {
          color: $color-1;
        }
        span.output-label.negative {
          color: $color-4;
        }
      }

      .output-value {
        transition: color 0.4s ease-in-out;
        font-family: $font-2;
        font-size: 42px;
        margin: 10px;
      }
    }
  }

  .architecture-container {
    position: relative;
    width: 710px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    .bg-line {
      position: absolute;
      top: 50%;
      left: 0;
      height: 5px;
      width: 100%;
      background: white;
    }

    .layer {
      display: inline-block;
      width: 170px;
      margin-right: 10px;
      background: white;
      border-radius: 5px;
      padding: 2px 10px 0px;
      z-index: 1;

      .layer-class-name {
        color: $color-1;
        font-size: 14px;
        font-weight: bold;
      }

      .layer-details {
        color: #999999;
        font-size: 10px;
        font-weight: bold;
      }
    }

    .layer:last-child {
      margin-right: 0;
    }
  }

  .lstm-visualization-container {
    min-width: 700px;
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid $color-2;
    border-radius: 5px;
    padding: 10px;

    .lstm-visualization-word {
      font-family: $font-2;
      font-size: 14px;
      color: $color-3;
      padding: 3px 6px;
    }
  }
}
