@import './_variables.css';

.menu {
  padding: 50px;
  margin: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px #CCCCCC;

  h1 {
    color: #CCCCCC;
    font-family: $font-1;
    font-size: 1.5rem;
  }

  .menu-list {
    li {
      color: $color-2;
      border-left: 2px solid white;
      margin-bottom: 3px;
    }

    li.active {
      border-left: 2px solid $color-1;
    }

    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      &:hover {
        color: $color-1;
        background-color: whitesmoke;

        .github-logo {
          fill: $color-1;
        }
      }

      span.menu-item-heading {
        margin-right: 10px;
      }

      span.menu-item-subheading {
        color: #999999;
        font-size: 0.8em;
      }
    }
  }

  .menu-list.github,
  .menu-list.contact {
    li {
      padding: 5px 10px;
    }

    a {
      color: $color-1;
      padding: 0;
      display: inline-flex;
      background-color: none;
      transition: color 0.2s ease-in;

      .github-logo {
        fill: $color-1;
        transition: fill 0.2s ease-in;
      }

      &:hover {
        color: $color-1-light;
        background: none;

        .github-logo {
          fill: $color-1-light;
        }
      }
    }
  }
}
