<div class="demo mnist-cnn">
  <div class="title">
    <span>Basic Convnet for MNIST</span>
    <mdl-spinner v-if="modelLoading && loadingProgress < 100"></mdl-spinner>
  </div>
  <div class="loading-progress" v-if="modelLoading && loadingProgress < 100">
    Loading...{{ loadingProgress }}%
  </div>
  <div class="info-panel">
    <div class="info-panel-text">

    </div>
    <div class="info-panel-close">
      <div class="info-panel-close-btn"><i class="material-icons">close</i>CLOSE</div>
    </div>
  </div>
  <div class="columns input-output" v-if="!modelLoading">
    <div class="column input-column">
      <div class="input-container">
        <div class="input-label">Draw any digit (0-9) here <span class="arrow">⤸</span></div>
        <div class="canvas-container">
          <canvas
            id="input-canvas" width="240" height="240"
            @mousedown="activateDraw"
            @mouseup="deactivateDrawAndPredict"
            @mouseleave="deactivateDrawAndPredict"
            @mousemove="draw"
            @touchstart="activateDraw"
            @touchend="deactivateDrawAndPredict"
            @touchmove="draw"
          ></canvas>
          <canvas id="input-canvas-scaled" width="28" height="28" style="display:none;"></canvas>
          <canvas id="input-canvas-centercrop" style="display:none;"></canvas>
        </div>
        <div class="input-clear" v-on:click="clear">
          <div class="input-clear-button"><i class="material-icons">clear</i>CLEAR</div>
        </div>
      </div>
    </div>
    <div class="column is-2 controls-column">
      <mdl-switch
        :checked.sync="useGpu"
        :disabled="modelLoading || !hasWebgl"
        @click="toggleGpu"
      >use GPU</mdl-switch>
    </div>
    <div class="column output-column">
      <div class="output">
        <div class="output-class"
          v-bind:class="{ 'predicted': i === predictedClass }"
          v-for="i in outputClasses"
        >
          <div class="output-label">{{ i }}</div>
          <div class="output-bar"
            style="height: {{ Math.round(100 * output[i]) }}px; background: rgba(27, 188, 155, {{ output[i].toFixed(2) }});"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="layer-results-container" v-if="!modelLoading">
    <div class="bg-line"></div>
    <div
      v-for="layerResult in layerResultImages"
      class="layer-result"
    >
      <div class="layer-result-heading">
        <span class="layer-class">{{ layerResult.layerClass }}</span>
        <span> {{ layerDisplayConfig[layerResult.name].heading }}</span>
      </div>
      <div class="layer-result-canvas-container">
        <canvas v-for="image in layerResult.images"
          id="intermediate-result-{{ $parent.$index }}-{{ $index }}"
          width="{{ image.width }}"
          height="{{ image.height }}"
          style="display:none;"
        ></canvas>
        <canvas v-for="image in layerResult.images"
          id="intermediate-result-{{ $parent.$index }}-{{ $index }}-scaled"
          width="{{ layerDisplayConfig[layerResult.name].scalingFactor * image.width }}"
          height="{{ layerDisplayConfig[layerResult.name].scalingFactor * image.height }}"
        ></canvas>
      </div>
    </div>
  </div>
</div>
