@import './_variables.css';

.demo.mnist-vae {
  .column {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .column.input-column {
    justify-content: flex-end;

    .input-container {
      text-align: right;
      margin: 20px;
      position: relative;
      user-select: none;

      .input-label {
        font-family: $font-3;
        font-size: 18px;
        color: $color-2;
        text-align: right;

        span.arrow {
          font-size: 36px;
          color: #CCCCCC;
          position: absolute;
          right: -32px;
          top: 8px;
        }
      }

      .canvas-container {
        position: relative;
        display: inline-flex;
        justify-content: flex-end;
        margin: 10px 0;
        border: 15px solid $color-1-lighter;
        transition: border-color 0.2s ease-in;

        &:hover {
          border-color: $color-1-light;
        }

        canvas {
          background: white;

          &:hover {
            cursor: crosshair;
          }
        }

        .axis {
          position: absolute;
          cursor: default;
          user-select: none;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-family: $font-2;
          font-size: 14px;
          color: $color-1;
        }

        .axis.x-axis {
          right: 0;
          bottom: -45px;
          width: 200px;
          flex-direction: row;
        }

        .axis.y-axis {
          top: 0;
          left: -55px;
          height: 200px;
          flex-direction: column;
        }
      }
    }
  }

  .column.controls-column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 80px;

    .coordinates {
      margin-left: 5px;
      margin-top: 45px;
      font-family: $font-2;
      font-size: 20px;
      color: $color-2;
    }
  }

  .column.output-column {
    justify-content: flex-start;

    .output {
      border-radius: 10px;
      overflow: hidden;

      canvas {
        background: white;
      }
    }
  }

  .layer-results-container {
    position: relative;

    .bg-line {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 50%;
      background: white;
      width: 15px;
      height: 100%;
    }

    .layer-result {
      position: relative;
      z-index: 1;
      margin: 30px 20px;
      background: white;
      border-radius: 10px;
      padding: 20px;
      overflow-x: auto;

      .layer-result-heading {
        font-size: 1rem;
        color: #999999;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        font-size: 12px;

        span.layer-class {
          color: $color-1;
          font-size: 14px;
          font-weight: bold;
        }
      }

      .layer-result-canvas-container {
        display: inline-flex;
        flex-wrap: wrap;
        background: white;

        canvas {
          border: 1px solid lightgray;
          margin: 1px;
        }
      }
    }
  }
}
