<div class="demo resnet50">
  <div class="title">
    <span>50-layer Residual Network, trained on ImageNet</span>
    <mdl-spinner v-if="modelLoading && loadingProgress < 100"></mdl-spinner>
  </div>
  <div class="loading-progress" v-if="modelLoading && loadingProgress < 100">
    Loading...{{ loadingProgress }}%
  </div>
  <div class="input-container" v-if="!modelLoading">
    {{ layersWithResults }}
    <div class="input-label">Enter a valid image URL or select an image from the dropdown:</div>
    <div class="image-url">
      <mdl-textfield
        floating-label="enter image url"
        :value.sync="imageURLInput"
        spellcheck="false"
        @change="imageURLInputChanged"
      ></mdl-textfield>
      <span>or</span>
      <mdl-select
        label="select image"
        id="image-url-select"
        :value.sync="imageURLSelect"
        :options="imageURLSelectList"
        style="width:200px;"
        @change="imageURLSelectChanged"
      ></mdl-select>
    </div>
  </div>
  <div class="columns input-output" v-if="!modelLoading">
    <div class="column input-column">
      <div class="loading-indicator">
        <mdl-spinner v-if="imageLoading || modelRunning"></mdl-spinner>
        <div class="error" v-if="imageLoadingError">Error loading URL</div>
      </div>
      <div class="canvas-container">
        <canvas id="input-canvas" width="224" height="224"></canvas>
      </div>
    </div>
    <div class="column is-2 controls-column">
      <mdl-switch
        :checked.sync="useGpu"
        :disabled="modelLoading || modelRunning || !hasWebgl"
        @click="toggleGpu"
      >Use GPU</mdl-switch>
    </div>
    <div class="column output-column">
      <div class="output">
        <div class="output-class"
          :class="{ 'predicted': $index === 0 }"
          v-for="entry in outputClasses"
        >
          <div class="output-label">{{ entry.name }}</div>
          <div class="output-bar"
            style="width: {{ Math.round(100 * entry.probability) }}px; background: rgba(27, 188, 155, {{ entry.probability.toFixed(2) }});"
          ></div>
          <div class="output-bar-rest"
            style="width: {{ 100 - Math.round(100 * entry.probability) }}px;"
          ></div>
          <div class="output-value">{{ Math.round(100 * entry.probability) }}%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="architecture-container" v-if="!modelLoading">
    <div v-for="row in architectureDiagramRows" class="layers-row columns">
      <div v-for="layer in row" class="column">
        <div
          v-if="layer.className"
          class="layer"
          :id="layer.name"
        >
          <div class="layer-class-name">{{ layer.className }}</div>
          <div class="layer-details"> {{ layer.details }}</div>
        </div>
      </div>
    </div>
    <svg class="architecture-connections" width="100%" height="100%">
      <g>
        <path v-for="path in architectureDiagramPaths" :d="path" />
      </g>
    </svg>
  </div>
</div>
