<div class="demo resnet50">
  <div class="title">
    <span>50-layer Residual Network, trained on ImageNet</span>
    <mdl-spinner v-if="modelLoading && loadingProgress < 100"></mdl-spinner>
  </div>
  <div class="loading-progress" v-if="modelLoading && loadingProgress < 100">
    Loading...{{ loadingProgress }}%
  </div>
  <div class="input-container">
    <div class="input-label">Enter an image URL or select from dropdown</div>
    <div class="image-url">
      <mdl-textfield floating-label="enter image url" :value.sync="imageURLInput" spellcheck="false"
        @change="imageURLInputChanged"
      ></mdl-textfield>
      <span>or</span>
      <mdl-select label="select image" id="image-url-select" :value.sync="imageURLSelect" :options="imageURLSelectList" style="width:200px;"
        @change="imageURLSelectChanged"
      ></mdl-select>
    </div>
  </div>
  <div class="columns input-output">
    <div class="column input-column">
      <div class="loading-indicator">
        <mdl-spinner v-if="imageLoading"></mdl-spinner>
        <div class="error" v-if="imageLoadingError">Error loading URL</div>
      </div>
      <div class="canvas-container">
        <canvas id="input-canvas" width="224" height="224"></canvas>
      </div>
    </div>
    <div class="column is-2 controls-column">
      <mdl-switch :checked.sync="useGpu" @click="toggleGpu">Use GPU</mdl-switch>
    </div>
    <div class="column output-column">
      <div class="output">
      </div>
    </div>
  </div>
  <!--<div class="layer-results-container">
    <div
      v-for="layerResult in layerResultImages"
      class="layer-result"
    >
      <div class="layer-result-heading">
        <span class="layer-class">{{ layerResult.layerClass }}</span>
        <span> {{ layerDisplayConfig[layerResult.name].heading }}</span>
      </div>
      <div class="layer-result-canvas-container">
        <canvas v-for="image in layerResult.images"
          id="intermediate-result-{{ $parent.$index }}-{{ $index }}"
          width="{{ image.width }}"
          height="{{ image.height }}"
          style="display:none;"
        ></canvas>
        <canvas v-for="image in layerResult.images"
          id="intermediate-result-{{ $parent.$index }}-{{ $index }}-scaled"
          width="{{ layerDisplayConfig[layerResult.name].scalingFactor * image.width }}"
          height="{{ layerDisplayConfig[layerResult.name].scalingFactor * image.height }}"
        ></canvas>
      </div>
    </div>
  </div>-->
</div>
