@import 'https://fonts.googleapis.com/css?family=Inconsolata';
@import 'https://fonts.googleapis.com/css?family=Fira+Sans';
@import 'https://fonts.googleapis.com/css?family=Nothing+You+Could+Do';

body {
  background: #EEEEEE;
  color: #393E46;
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
}

.github-logo {
  fill: #69707a;
  margin: 3px 8px 3px 0;
}

.title {
  width: 100%;
  color: #1BBC9B;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subtitle {
  color: #393E46;
}

.menu {
  padding: 50px;
  margin: 20px;
  background: white;
  border-radius: 10px;
}

.menu h1 {
  color: #CCCCCC;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5rem;
}

.menu-list li {
  color: #69707a;
}

.menu-list a {
  display: flex;
  align-items: center;
}

.menu-list a:hover {
  color: #1BBC9B;
  background-color: whitesmoke;
}

.menu-list a:hover .github-logo {
  fill: #1BBC9B;
}

.menu-list.contact li {
  padding: 5px 10px;
}

.menu-list.contact a {
  color: #aaaaaa;
  padding: 0;
  display: inline-flex;
  background-color: none;
  transition: color 0.2s ease-in;
}

.menu-list.contact a:hover {
  color: #1BBC9B;
  background: none;
}

.demo {
  padding: 50px 30px;
}

.demo .loading-progress {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  color: #1BBC9B;
  font-size: 18px;
  font-family: 'Inconsolata', sans-serif;
  padding: 20px 50px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.demo.mnist-cnn .input-container {
  display: inline-flex;
  flex-direction: column;
  margin: 20px;
  position: relative;
}

.demo.mnist-cnn .input-label {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 18px;
  color: #69707a;
  text-align: right;
}

.demo.mnist-cnn .input-label span.arrow {
  font-size: 36px;
  color: #CCCCCC;
  position: absolute;
  right: -32px;
  top: 8px;
}

.demo.mnist-cnn .canvas-container {
  display: inline-flex;
  margin: 10px 0;
  background: white;
  border: 15px solid rgba(27, 188, 155, 0.3);
  transition: border-color 0.2s ease-in;
}

.demo.mnist-cnn .canvas-container:hover {
  border-color: rgba(27, 188, 155, 0.6);
}

.demo.mnist-cnn .canvas-container canvas:hover {
  cursor: crosshair;
}

.demo.mnist-cnn .input-clear {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #69707a;
  transition: color 0.2s ease-in;
}

.demo.mnist-cnn .input-clear:hover {
  color: rgba(27, 188, 155, 0.3);
  cursor: pointer;
}
